venv_s/
venv/
.DS_Store
.python-version
.idea/
results/
click_results/
old_results/
figures/
ajay_data/
__pycache__/
*.pyc
*_dec19.kenlm
*_large.kenlm
*_huge.kenlm
Nomon_Text/probes/screen_words_*.jsonl
.venv/
.DS_Store
User_Simulation/evaluation/outputs/
.cache/
